In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('earthquakes.csv')

In [3]:
df.empty

False

In [4]:
df.shape

(6746, 26)

In [5]:
df.head

<bound method NDFrame.head of        mag                                        place           time  \
0     4.90  191 km ESE of Ust’-Kamchatsk Staryy, Russia  1731369384328
1     0.68                         7 km WNW of Cobb, CA  1731367157080
2     1.90           20 km W of Point MacKenzie, Alaska  1731366482588
3     2.15                        4 km W of Magalia, CA  1731366324690
4     2.00             33 km WNW of Petersville, Alaska  1731365892605
...    ...                                          ...            ...
6741  3.00                   26 km NNE of Chase, Alaska  1729126041870
6742  0.54                   9 km ENE of San Martin, CA  1729125111440
6743  0.28                  8 km NNW of The Geysers, CA  1729124975210
6744  1.07                   20 km E of Little Lake, CA  1729124731770
6745  0.08                 77 km W of Salamatof, Alaska  1729124218900

            updated  tz                                                url  \
0     1731370895040 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
1     1731368235199 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
2     1731366576568 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
3     1731366736015 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
4     1731366014224 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
...             ...  ..                                                ...
6741  1729126160571 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6742  1729187879680 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6743  1729125073193 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6744  1729213434684 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6745  1729193207370 NaN  https://earthquake.usgs.gov/earthquakes/eventp...

                                                 detail  felt  cdi  mmi  ...  \
0     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
1     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
2     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
3     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
4     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
...                                                 ...   ...  ...  ...  ...
6741  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6742  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6743  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6744  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6745  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...

                              ids      sources  \
0     ,usauto7000nra5,us7000nra5,  ,usauto,us,
1                    ,nc75085486,         ,nc,
2                  ,ak024eizkcw2,         ,ak,
3                    ,nc75085476,         ,nc,
4                  ,ak024eiz9nv0,         ,ak,
...                           ...          ...
6741               ,ak024dd9o40x,         ,ak,
6742                 ,nc75075256,         ,nc,
6743                 ,nc75075251,         ,nc,
6744                 ,ci40955232,         ,ci,
6745                 ,av93319793,         ,av,

                                               types   nst      dmin   rms  \
0         ,internal-moment-tensor,origin,phase-data,  86.0  4.818000  1.08
1     ,nearby-cities,origin,phase-data,scitech-link,   8.0  0.007368  0.01
2                                ,origin,phase-data,   NaN       NaN  0.49
3     ,nearby-cities,origin,phase-data,scitech-link,   6.0  0.082400  0.02
4                                ,origin,phase-data,   NaN       NaN  0.38
...                                              ...   ...       ...   ...
6741                             ,origin,phase-data,   NaN       NaN  0.85
6742               ,nearby-cities,origin,phase-data,  15.0  0.079520  0.12
6743               ,nearby-cities,origin,phase-data,   7.0  0.012040  0.05
6744  ,nearby-cities,origin,phase-data,scitech-link,  16.0  0.025900  0.08
6745                             ,origin,phase-data,   5.0  0.044480  0.26

        gap magType        type  \
0     100.0      mb  earthquake
1     102.0      md  earthquake
2       NaN      ml  earthquake
3     143.0      md  earthquake
4       NaN      ml  earthquake
...     ...     ...         ...
6741    NaN      ml  earthquake
6742   49.0      md  earthquake
6743  147.0      md  earthquake
6744  120.0      ml  earthquake
6745  149.0      ml  earthquake

                                                  title
0     M 4.9 - 191 km ESE of Ust’-Kamchatsk Staryy, R...
1                          M 0.7 - 7 km WNW of Cobb, CA
2            M 1.9 - 20 km W of Point MacKenzie, Alaska
3                         M 2.2 - 4 km W of Magalia, CA
4              M 2.0 - 33 km WNW of Petersville, Alaska
...                                                 ...
6741                 M 3.0 - 26 km NNE of Chase, Alaska
6742                 M 0.5 - 9 km ENE of San Martin, CA
6743                M 0.3 - 8 km NNW of The Geysers, CA
6744                 M 1.1 - 20 km E of Little Lake, CA
6745               M 0.1 - 77 km W of Salamatof, Alaska

[6746 rows x 26 columns]>

In [6]:
df.tail

<bound method NDFrame.tail of        mag                                        place           time  \
0     4.90  191 km ESE of Ust’-Kamchatsk Staryy, Russia  1731369384328
1     0.68                         7 km WNW of Cobb, CA  1731367157080
2     1.90           20 km W of Point MacKenzie, Alaska  1731366482588
3     2.15                        4 km W of Magalia, CA  1731366324690
4     2.00             33 km WNW of Petersville, Alaska  1731365892605
...    ...                                          ...            ...
6741  3.00                   26 km NNE of Chase, Alaska  1729126041870
6742  0.54                   9 km ENE of San Martin, CA  1729125111440
6743  0.28                  8 km NNW of The Geysers, CA  1729124975210
6744  1.07                   20 km E of Little Lake, CA  1729124731770
6745  0.08                 77 km W of Salamatof, Alaska  1729124218900

            updated  tz                                                url  \
0     1731370895040 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
1     1731368235199 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
2     1731366576568 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
3     1731366736015 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
4     1731366014224 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
...             ...  ..                                                ...
6741  1729126160571 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6742  1729187879680 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6743  1729125073193 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6744  1729213434684 NaN  https://earthquake.usgs.gov/earthquakes/eventp...
6745  1729193207370 NaN  https://earthquake.usgs.gov/earthquakes/eventp...

                                                 detail  felt  cdi  mmi  ...  \
0     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
1     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
2     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
3     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
4     https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
...                                                 ...   ...  ...  ...  ...
6741  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6742  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6743  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6744  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...
6745  https://earthquake.usgs.gov/fdsnws/event/1/que...   NaN  NaN  NaN  ...

                              ids      sources  \
0     ,usauto7000nra5,us7000nra5,  ,usauto,us,
1                    ,nc75085486,         ,nc,
2                  ,ak024eizkcw2,         ,ak,
3                    ,nc75085476,         ,nc,
4                  ,ak024eiz9nv0,         ,ak,
...                           ...          ...
6741               ,ak024dd9o40x,         ,ak,
6742                 ,nc75075256,         ,nc,
6743                 ,nc75075251,         ,nc,
6744                 ,ci40955232,         ,ci,
6745                 ,av93319793,         ,av,

                                               types   nst      dmin   rms  \
0         ,internal-moment-tensor,origin,phase-data,  86.0  4.818000  1.08
1     ,nearby-cities,origin,phase-data,scitech-link,   8.0  0.007368  0.01
2                                ,origin,phase-data,   NaN       NaN  0.49
3     ,nearby-cities,origin,phase-data,scitech-link,   6.0  0.082400  0.02
4                                ,origin,phase-data,   NaN       NaN  0.38
...                                              ...   ...       ...   ...
6741                             ,origin,phase-data,   NaN       NaN  0.85
6742               ,nearby-cities,origin,phase-data,  15.0  0.079520  0.12
6743               ,nearby-cities,origin,phase-data,   7.0  0.012040  0.05
6744  ,nearby-cities,origin,phase-data,scitech-link,  16.0  0.025900  0.08
6745                             ,origin,phase-data,   5.0  0.044480  0.26

        gap magType        type  \
0     100.0      mb  earthquake
1     102.0      md  earthquake
2       NaN      ml  earthquake
3     143.0      md  earthquake
4       NaN      ml  earthquake
...     ...     ...         ...
6741    NaN      ml  earthquake
6742   49.0      md  earthquake
6743  147.0      md  earthquake
6744  120.0      ml  earthquake
6745  149.0      ml  earthquake

                                                  title
0     M 4.9 - 191 km ESE of Ust’-Kamchatsk Staryy, R...
1                          M 0.7 - 7 km WNW of Cobb, CA
2            M 1.9 - 20 km W of Point MacKenzie, Alaska
3                         M 2.2 - 4 km W of Magalia, CA
4              M 2.0 - 33 km WNW of Petersville, Alaska
...                                                 ...
6741                 M 3.0 - 26 km NNE of Chase, Alaska
6742                 M 0.5 - 9 km ENE of San Martin, CA
6743                M 0.3 - 8 km NNW of The Geysers, CA
6744                 M 1.1 - 20 km E of Little Lake, CA
6745               M 0.1 - 77 km W of Salamatof, Alaska

[6746 rows x 26 columns]>

In [7]:
df.columns

Index(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi',
       'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids',
       'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type',
       'title'],
      dtype='object')

In [8]:
df.dtypes

mag        float64
place       object
time         int64
updated      int64
tz         float64
url         object
detail      object
felt       float64
cdi        float64
mmi        float64
alert       object
status      object
tsunami      int64
sig          int64
net         object
code        object
ids         object
sources     object
types       object
nst        float64
dmin       float64
rms        float64
gap        float64
magType     object
type        object
title       object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6746 entries, 0 to 6745
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mag      6746 non-null   float64
 1   place    6746 non-null   object
 2   time     6746 non-null   int64
 3   updated  6746 non-null   int64
 4   tz       0 non-null      float64
 5   url      6746 non-null   object
 6   detail   6746 non-null   object
 7   felt     406 non-null    float64
 8   cdi      406 non-null    float64
 9   mmi      95 non-null     float64
 10  alert    46 non-null     object
 11  status   6746 non-null   object
 12  tsunami  6746 non-null   int64
 13  sig      6746 non-null   int64
 14  net      6746 non-null   object
 15  code     6746 non-null   object
 16  ids      6746 non-null   object
 17  sources  6746 non-null   object
 18  types    6746 non-null   object
 19  nst      5728 non-null   float64
 20  dmin     5718 non-null   float64
 21  rms      6746 non-null   float64
 22  gap      5728 non-null   float64
 23  magType  6746 non-null   object
 24  type     6746 non-null   object
 25  title    6746 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.3+ MB

In [10]:
df.describe()

,mag,time,updated,tz,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap
count,6746.000000,6.746000e+03,6.746000e+03,0.0,406.000000,406.000000,95.000000,6746.000000,6746.000000,5728.000000,5718.000000,6746.000000,5728.000000
mean,1.555498,1.730179e+12,1.730302e+12,NaN,84.985222,2.595567,3.219337,0.000593,63.871331,23.916550,0.381755,0.259903,121.492792
std,1.266744,6.277650e+08,6.385373e+08,NaN,254.201543,1.493452,1.465117,0.024345,102.340179,20.757205,1.497981,0.272092,69.618402
min,-1.360000,1.729124e+12,1.729125e+12,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000
25%,0.780000,1.729657e+12,1.729758e+12,NaN,1.000000,2.000000,2.386500,0.000000,9.000000,9.000000,0.025763,0.100000,68.000000
50%,1.400000,1.730130e+12,1.730266e+12,NaN,2.000000,2.200000,3.249000,0.000000,30.000000,18.000000,0.064265,0.160000,103.000000
75%,2.000000,1.730688e+12,1.730836e+12,NaN,8.000000,3.400000,4.206000,0.000000,62.000000,31.000000,0.141875,0.300000,160.000000
max,6.800000,1.731369e+12,1.731446e+12,NaN,1720.000000,8.400000,7.498000,1.000000,1324.000000,263.000000,58.008000,4.930000,350.000000

In [11]:
# Specifying the 5th and 95th percentile:
df.describe(percentiles=[0.05, 0.95])

,mag,time,updated,tz,felt,cdi,mmi,tsunami,sig,nst,dmin,rms,gap
count,6746.000000,6.746000e+03,6.746000e+03,0.0,406.000000,406.000000,95.000000,6746.000000,6746.000000,5728.000000,5718.000000,6746.000000,5728.000000
mean,1.555498,1.730179e+12,1.730302e+12,NaN,84.985222,2.595567,3.219337,0.000593,63.871331,23.916550,0.381755,0.259903,121.492792
std,1.266744,6.277650e+08,6.385373e+08,NaN,254.201543,1.493452,1.465117,0.024345,102.340179,20.757205,1.497981,0.272092,69.618402
min,-1.360000,1.729124e+12,1.729125e+12,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000
5%,-0.287500,1.729229e+12,1.729287e+12,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,5.000000,0.003840,0.020000,38.000000
50%,1.400000,1.730130e+12,1.730266e+12,NaN,2.000000,2.200000,3.249000,0.000000,30.000000,18.000000,0.064265,0.160000,103.000000
95%,4.500000,1.731215e+12,1.731330e+12,NaN,580.250000,5.200000,5.639800,0.000000,312.000000,63.000000,1.945000,0.860000,269.000000
max,6.800000,1.731369e+12,1.731446e+12,NaN,1720.000000,8.400000,7.498000,1.000000,1324.000000,263.000000,58.008000,4.930000,350.000000

In [12]:
pip install numpy==1.23.4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy==1.23.4 in ./.local/lib/python3.10/site-packages (1.23.4)

[notice] A new release of pip is available: 23.3.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
df.describe(include='all')

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
count,6746.000000,6746,6.746000e+03,6.746000e+03,0.0,6746,6746,406.000000,406.000000,95.000000,...,6746,6746,6746,5728.000000,5718.000000,6746.000000,5728.000000,6746,6746,6746
unique,NaN,4083,NaN,NaN,NaN,6746,6746,NaN,NaN,NaN,...,6746,71,53,NaN,NaN,NaN,NaN,8,3,5896
top,NaN,"65 km WNW of Beluga, Alaska",NaN,NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",usauto7000nra5,us7000nra5,",",nc,",",origin,phase-data,",NaN,NaN,NaN,NaN,ml,earthquake,"M 4.7 - Volcano Islands, Japan region"
freq,NaN,69,NaN,NaN,NaN,1,1,NaN,NaN,NaN,...,1,1044,4304,NaN,NaN,NaN,NaN,4475,6603,13
mean,1.555498,NaN,1.730179e+12,1.730302e+12,NaN,NaN,NaN,84.985222,2.595567,3.219337,...,NaN,NaN,NaN,23.916550,0.381755,0.259903,121.492792,NaN,NaN,NaN
std,1.266744,NaN,6.277650e+08,6.385373e+08,NaN,NaN,NaN,254.201543,1.493452,1.465117,...,NaN,NaN,NaN,20.757205,1.497981,0.272092,69.618402,NaN,NaN,NaN
min,-1.360000,NaN,1.729124e+12,1.729125e+12,NaN,NaN,NaN,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,13.000000,NaN,NaN,NaN
25%,0.780000,NaN,1.729657e+12,1.729758e+12,NaN,NaN,NaN,1.000000,2.000000,2.386500,...,NaN,NaN,NaN,9.000000,0.025763,0.100000,68.000000,NaN,NaN,NaN
50%,1.400000,NaN,1.730130e+12,1.730266e+12,NaN,NaN,NaN,2.000000,2.200000,3.249000,...,NaN,NaN,NaN,18.000000,0.064265,0.160000,103.000000,NaN,NaN,NaN
75%,2.000000,NaN,1.730688e+12,1.730836e+12,NaN,NaN,NaN,8.000000,3.400000,4.206000,...,NaN,NaN,NaN,31.000000,0.141875,0.300000,160.000000,NaN,NaN,NaN
max,6.800000,NaN,1.731369e+12,1.731446e+12,NaN,NaN,NaN,1720.000000,8.400000,7.498000,...,NaN,NaN,NaN,263.000000,58.008000,4.930000,350.000000,NaN,NaN,NaN

In [14]:
df.felt.describe()

count     406.000000
mean       84.985222
std       254.201543
min         0.000000
25%         1.000000
50%         2.000000
75%         8.000000
max      1720.000000
Name: felt, dtype: float64

In [15]:
# There are methods for specific statistics as well. For example, finding the unique values in the alert column:
df.alert.unique()

array([nan, 'green', 'yellow'], dtype=object)

In [16]:
# We can then use value_counts() to see how many of each unique value we have:
df.alert.value_counts()

alert
green     45
yellow     1
Name: count, dtype: int64